@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

/** Reset */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    color: #333;
    line-height: 1.6;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #333;
}

h1,
h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

img {
    /** Responsive img - Sticks to the container */
    width: 100%;
}

.navbar {
    background-color: #047aed;
    color: #fff;
    height: 70px;
}

.navbar ul {
    display: flex;
}

.navbar a {
    color: #fff;
    padding: 10px;
    margin: 0 5px;
}

.navbar a:hover {
    border-bottom: 1px #eee solid;
}

.navbar .flex {
    /* Gets the space with no items and puts it in between the items */
    /* So, if there are only 2 items, one is gonna be on the left and the other on the right of the box */
    justify-content: space-between;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
    /** Get rid of H1 top margin */
    overflow: auto;
    padding: 0 40px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Certifies that the items don't go out of the box */
    height: 100%;
}